* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
   a li {
       border-bottom: 2px solid black;
       background-color: rgb(238, 236, 234);
   }
   a li:hover{
       color: rgb(219, 21, 21);
       background-color: aliceblue;
   }
   a li h2 {
       color: rgb(131, 18, 236);
   }